*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

a {
	cursor: pointer;
	font-size: 1.1em;
	
}

aside {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	overflow: auto;
}

header {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

header div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header a {	
	padding: 1em;
	color: #fff;
}

h1 {
	color: #fff;
	text-align: center;
	word-spacing: 0.15em;
	font-size: 1.8em;
}

h1 span {
	color: orange;
}

.wrap {
	width: 100%;
	height: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
}

.error {
	position: absolute;
	top: 40%; /*Slightly higher than center preferred */
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	background-color: #fff;
	border: 2px solid #A8DAF7;
	border-radius: 10px;
	text-align: center;
	width: 350px;
	height: 150px;
	z-index: 2;
}

.error p {
	margin-top: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.error-status {
	font-weight: bold;
}

.error .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
	color: bold;
}

.info-content a, .info-content p {
	color: #000;
	margin: 0;
}

.info-content h3 {
	margin: 0;
}

a.selected, .places li:hover .name, .places li.selected .name {
	color: orange;
}

.places {
	padding: 0;
	font-size: 1.1em;
	margin: 0;
}

.places li {
	width: 100%;
	list-style: none;
	color: #fff;
	position: relative;
	padding: 0.5em;
	overflow: hidden;
	margin: 0;
	cursor: pointer;
}


.places li:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.6);
}

.places li:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.7);
}

.places li .name, .places li .rating {
	float: left;
	
}

.places li .price {
	float: right;
}

@media screen and (max-width: 800px) {

	/*On mobile the aside won't work with bottom: 0 for some reason, so use top: 60
	to force to bottom.  Height should be complimentary, and #map should compliment aside height
	so that zoom controls still usable */
	aside {
		position: absolute;
		top: 60%;		
		height: 40%;
		width: 100%;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.6);
		overflow: auto;
		
	}

	#map {
		position: absolute;
		top: 0;
		height: 60%;
		width: 100%;
	}

	.error {
		top: 30%; /*Slightly higher than center preferred */
		width: 80%;
		height: 25%;	
	}

	.error h3 {
		margin-bottom: 0.25em;
	}

	.error p {
		margin-top: 0;
	}
}